* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.hero-bg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  background-image: url("/assets/hero/map.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(60% + 350px);
  height: 650px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl sm:text-3xl lg:text-6xl text-secondary font-bold;
}
h3 {
  @apply text-xl sm:text-2xl lg:text-2xl text-secondary font-bold;
}

p {
  @apply text-sm sm:text-base lg:text-lg text-neutral font-normal;
}
.nav-class {
  @apply bg-transparent lg:bg-gradient-to-b from-blue to-light bg-no-repeat sticky top-0 z-50 pt-5;
}

.center {
  @apply flex items-center justify-center;
}

.mobile {
  @apply flex flex-col md:flex-row;
}

.section {
  @apply w-full md:max-w-lg xl:max-w-6xl;
}

.abcenter {
  @apply bg-white font-bold text-secondary px-1 absolute -top-4 right-1/2 translate-x-1/2;
}

.frame {
  @apply relative py-2 px-4 text-center border border-neutral rounded-md;
}
