* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}

.hero-bg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  background-image: url("/assets/hero/map.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(60% + 350px);
  height: 650px;
}

.contact-bg {
  position: relative;
  background-image: url("/assets/hero/map.png");
  background-repeat: no-repeat;
  border-radius: 12px;
  background-size: cover;
  background-position: center center;
}
.contact-bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 12px;
  top: 0;
  left: 0;
  z-index: -5;
  background-color: #42a7c3;
}

.getApp {
  background-color: #000000;
  position: relative;
  margin: 6.5em;
  border-radius: 12px;
  z-index: 1;
}

.getApp::before {
  content: "";
  position: absolute;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("/assets/misc/circles.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

.footer-bg {
  position: relative;
  background-image: url("/assets/hero/map.png");
  background-repeat: no-repeat;
  padding-top: 5.5em;
  background-size: cover;
  background-position: center center;
}
.footer-bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
  background-color: #41a5c1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primaryButton {
    @apply center md:px-8 py-1 font-medium md:font-semibold font-headline md:text-lg bg-accent text-white gap-2 rounded hover:bg-primary;
  }
  h3 {
    @apply text-lg md:text-2xl lg:text-2xl text-secondary font-bold;
  }

  .stack-sect {
    @apply space-y-10 md:space-y-0 md:grid grid-cols-2 lg:grid-cols-3 justify-between items-center gap-5;
  }

  .footer-nav-title {
    @apply text-light text-base md:text-lg lg:text-xl font-textline font-textline;
  }

  .footer-nav-link {
    @apply flex flex-col gap-2 text-light lightText text-left md:text-base xl:text-lg font-textline;
  }
}

h1 {
  @apply text-3xl sm:text-3xl lg:text-6xl text-secondary font-bold;
}

p {
  @apply text-sm sm:text-base lg:text-lg text-neutral font-normal;
}

.lightText {
  @apply mx-1 font-light text-sm;
}

.cardFrame {
  @apply space-y-10 text-center md:space-y-5;
}

.cardPlate {
  @apply rounded space-y-5 font-headline;
}

.nav-class {
  @apply sticky top-0 z-50 bg-transparent backdrop-blur-sm md:bg-gradient-to-b from-blue to-light bg-no-repeat py-2;
}

.center {
  @apply flex items-center justify-center;
}

.mobile {
  @apply flex flex-col md:flex-row;
}

.spacing-sect {
  @apply mx-4 md:mx-16 xl:mx-20;
}

.section {
  @apply w-full 2xl:max-w-7xl xl:mx-auto;
}

.abcenter {
  @apply bg-white px-1 text-secondary text-base font-medium absolute left-1/2 -translate-x-1/2 flex-nowrap;
}

.searchDes {
  @apply absolute px-1 text-secondary bg-white -top-3 text-sm;
}

.searchProp {
  @apply text-left p-1 text-xs;
}

.frame {
  @apply relative py-1 border border-neutral rounded-sm;
}

.outlineButton {
  @apply border border-accent mx-auto rounded-sm lg:rounded-md font-semibold text-base md:text-lg text-accent hover:bg-accent hover:text-white hover:border-none transition-all duration-100;
}

.navButton {
  @apply flex-grow p-2 text-accent hover:text-light  font-semibold border-x border-secondary hover:bg-accent;
}

.selection {
  @apply w-11/12 border mx-auto p-2 border-primary;
}

.select {
  @apply bg-transparent flex items-center justify-between w-full text-light text-center outline-none;
}

.links {
  @apply bg-white p-0.5 rounded-xl;
}
